<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <img src="/?action=stream" />
    <p>---</p>
    <p>---</p>
    <a href="/ir_command/on">Turn on</a>
    <p>---</p>
    <a href="/ir_command/off">Turn off</a>
    <p>---</p>
    <a href="/ir_command/timer">Set one hour timer</a>
  </body>
</html>
